cmake==3.21.3
dlib==19.22.1
emotions==1.2.7
face-recognition==1.3.0
fer==21.0.5
imutils==0.5.4
keras==2.6.0
librosa==0.8.1
moviepy==1.0.3
numpy==1.21.3
opencv-python==4.5.4.58
pandas==1.3.4
Pillow==8.4.0
pynormalize==0.1.4
scikit-learn==0.22.2.post1
scipy==1.7.1
tensorflow==2.6.0
tk==0.1.0
tqdm==4.62.3
xgboost==1.5.0